body{
	/*font-family: 'Press Start 2P', cursive;*/
	background-image: url("../assets/background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

/*i span{
	font-family: 'Press Start 2P', cursive;
}*/

a, a:visited, a:hover, a:active {
  color: #5e5e5e;
  text-decoration: none !important;
  cursor: pointer;
}

.well{
	text-align: center;
}

/*Modal*/
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Content{
	padding: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
	transform: translateY(-50%);
	overflow: visible;
}

/*About Us*/
.about-us-container {
  font-size: 16px;
}

.profile-image {
  width: 100%;
  height: auto;
}

.profile-name {
  margin-top: 10px;
  color: rgb(90, 82, 82);
  font-size: 16px;
}

.about-us-nav {
  float: none;
  text-align: center;
  display: inline-block;
  font-size: 22px;
}

.attribution {
  margin-top: 40px;
}

/*AttendanceCalendar*/
.attendanceCalendar td{
	font-size: 11px;
}

.pagination{
	float: right;
	margin-top: 0;
}

/*AttendanceNavbar*/
.attendanceNavbar{
	margin-bottom: 15px;
}

.attendanceNavbar button{
	float: right;
}

/*BehaviorButtons*/
.behaviorThumbnail{
	text-align: center;
}

.behaviorButtons, .behaviorModal{
	width: 400px;
	height: 160px;
}

/*ClassroomDashboard*/
.studentsContainer{
	margin-top: 25px;
}

/*ClassroomStudent*/
.classroomStudent{
	cursor: pointer;
}

.attendanceButton{
	position: absolute;
	top: -10px;
	left: 0px;
}
.image { 
	position: absolute; 
	top: -18px;
	left: -3px;
}

.behaviorImg{
  height: auto;
  width: auto;
  max-width: 43px;
  max-height: 43px;
}

.behaviorPoints { 
  color: red;
  position: absolute;
  top: 12px;
  left: 15px;
  width: 32%;
  font-weight: bold;
  background-color: #FFF400;
  text-align: center;
}

/*Login*/
.loginForm, .loginModal{
	width: 500px;
	height: 285px;
}

/*Signup*/
.signupForm, .signupModal{
	width: 500px;
	height: 433px;
}

/*StudentRandom*/
.StudentRandom, .randomModal{
	width: 250px;
	height: 100px;
	text-align: center;
}

/*TeacherClass*/
.classImg{
	height: auto;
  width: auto;
  max-width: 60px;
  max-height: 60px;
}

/*TeacherForm & ClassroomForm*/
.teacherForm, .teacherModal, .classroomForm, .classModal{
	width: 586px;
	height: 150px;
}

/*StudentGroupForm*/
.StudenGroupForm, .groupModal{
  width: 250px;
  height: 100px;
  text-align: center;
}

/*TimeBar*/
.timeBar{
	margin-bottom: 30px;
	margin-bottom: 15px;
}

#exampleInputName2 {
  width:500px;
}

.authErrMsg {
  color: red;
}
