a, a:visited, a:hover, a:active {
  color: #5e5e5e;
  text-decoration: none !important;
  cursor: pointer;
}

.well{
	text-align: center;
}

.attendanceCalendar td{
	font-size: 11px;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Content{
	padding: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
	transform: translateY(-50%);
}

.teacherForm, .teacherModal, .classroomForm, .classModal{
	width: 586px;
	height: 150px;
}

.loginForm, .loginModal{
	width: 500px;
	height: 285px;
}

.signupForm, .signupModal{
	width: 500px;
	height: 433px;
}

.behaviorButtons, .behaviorModal{
	width: 500px;
	height: 200px;
}#chartdiv {
  width   : 100%;
  height    : 500px;
  font-size : 11px;
}         
